// .card{
//     background-color: rgb(41, 41, 41);   
// }
// .card-title{
//     color: white;
// }
// .card-small{
//     font-style: italic ;
//     color: var(--yellow-active);
// }
// .view-more {
//     text-align: center;
//     max-width: 120px;
//     align-self: center;
// }

// .image-flip:hover .backside,
// .image-flip.hover .backside {
//     -webkit-transform: rotateY(0deg);
//     -moz-transform: rotateY(0deg);
//     -o-transform: rotateY(0deg);
//     -ms-transform: rotateY(0deg);
//     transform: rotateY(0deg);
//     border-radius: .25rem;
// }

// .image-flip:hover .frontside,
// .image-flip.hover .frontside {
//     -webkit-transform: rotateY(180deg);
//     -moz-transform: rotateY(180deg);
//     -o-transform: rotateY(180deg);
//     transform: rotateY(180deg);
// }

// .mainflip {
//     -webkit-transition: 1s;
//     -webkit-transform-style: preserve-3d;
//     -ms-transition: 1s;
//     -moz-transition: 1s;
//     transform: perspective(1000px);
//     -moz-transform-style: preserve-3d;
//     -ms-transform-style: preserve-3d;
//     transition: 1s;
//     transform-style: preserve-3d;
//     position: relative;
// }

// .frontside {
//     position: relative;
//     transform: rotateY(0deg);
//     z-index: 2;
//     margin-bottom: 30px;
// }

// .backside {
//     position: absolute;
//     top: 0;
//     left: 0;
//     -webkit-transform: rotateY(-180deg);
//     -moz-transform: rotateY(-180deg);
//     -o-transform: rotateY(-180deg);
//     -ms-transform: rotateY(-180deg);
//     transform: rotateY(-180deg);

// }

// .frontside,
// .backside {
//     width: 100%;
//     -webkit-backface-visibility: hidden;
//     -moz-backface-visibility: hidden;
//     -ms-backface-visibility: hidden;
//     backface-visibility: hidden;
//     -webkit-transition: 1s;
//     -webkit-transform-style: preserve-3d;
//     -moz-transition: 1s;
//     -moz-transform-style: preserve-3d;
//     -o-transition: 1s;
//     -o-transform-style: preserve-3d;
//     -ms-transition: 1s;
//     -ms-transform-style: preserve-3d;
//     transition: 1s;
//     transform-style: preserve-3d;
// }

// .frontside .card,
// .backside .card {
//     min-height: 312px;
// }


// /* .frontside .card .card-title,
// .backside .card .card-title {
//     color: #fff !important;
// } */

// .frontside .card .card-body img {
//     width: 120px;
//     height: 120px;
//     border-radius: 50%;
// }




// .card{
//     border: rgb(41, 41, 41) 2px solid;
// }

// .card0{
//     border: var(--yellow-active) 2px solid;
// }
// .card0 h4, .card0 small{
//     color: var(--yellow-active)
// }
// .card1{
//     border:var(--blue) 2px solid;
// }
// .card1 h4, .card1 small{
//     color:var(--blue)
// }
// .card2{
//     border: var(--green) 2px solid;
// }
// .card2 h4, .card2 small{
//     color:var(--green)
// }
// .card2 .btn{
//     background-color:var(--green)
// }



// NUEVO COMPORTAMIENTO img

.image {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
    overflow: hidden;
    margin: 15px auto;
    position: relative;
    width: 100%;
}

.image img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 3px var(--yellow) solid;
    transition: all .23s ease;
}

.image figcaption {
    border-radius: 10px;
    border: 3px var(--yellow) solid;
    background-color:var(--yellow) ;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    //line-height: 250px;
    position: absolute;
    text-align: center;
    transition: all .45s ease;
}

.textCaption-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image.fadeIn figcaption {
    opacity: 0;
    visibility: hidden;
}

.image.fadeIn:hover>img {
    opacity: 0;
    visibility: hidden;
}

.image.fadeIn:hover>figcaption {
    opacity: 1;
    visibility: visible;
}