<section class="container-fluid d-flex flex-column justify-content-center gap-2" id="trabajos">
    <h2>Trabajos Recientes</h2>
    <p> Desde carritos de compras altamente funcionales, el desarrollo de plataformas interactivas hasta implementación de funcionalidades específicas en sitios ya existentes, a continuación pongo a disposición algunos de mis proyectos más recientes: 
    </p>
    <div class="d-flex flex-column justify-content-center">

        <div class="row mt-5" *ngIf="data">
            <div class="col-md-4" *ngFor="let work of getFrontendWorkArray() | slice:0:3; let i = index">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside" >
                            <div class="card" ngClass="card{{i%3}}">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" [src]="work.img" alt="card image"></p>
                                    <h4 class="card-title">{{work.tittle}}</h4>
                                    <p class="card-text">{{work.short_description}}</p>
                                    <small class="card-small">{{work.category}}</small>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">{{work.tittle}}</h4>
                                    <p class="card-text">{{work.description}}</p>
                                    <a [href]="_data.sanitize(work.url)" target="_blank" class="btn">Ver sitio</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div *ngIf="view" class="row mb-2" @onOff>
            <div class="col-md-4"  *ngFor="let work of getFrontendWorkArray() | slice:3:(dataLength); let i = index">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside" >
                            <div class="card" ngClass="card{{i%3}}">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" [src]="work.img" alt="card image"></p>
                                    <h4 class="card-title">{{work.tittle}}</h4>
                                    <p class="card-text">{{work.short_description}}</p>
                                    <small class="card-text">{{work.category}}</small>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card" ngClass="card{{i%3}}">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">{{work.tittle}}</h4>
                                    <p class="card-text">{{work.description}}</p>
                                    <a [href]="_data.sanitize(work.url)" target="_blank" class="btn">Ver sitio</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




   



<button class="btn view-more" *ngIf="dataLength>3 && view" (click)="viewLess()" @button
>Ver Menos</button>

<button class="btn view-more" *ngIf="dataLength>3 && !view" (click)="viewMore()" @button
>Ver Más</button>
</section>





