.avatar-container{
    width: 250px;
    height: 150px;
    background-image:url('https://res.cloudinary.com/zamparg/image/upload/v1688049724/AVATAR2_jako0d.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}