<nav class="container-fluid d-flex gap-2 align-items-center">
    <span (click)="onActive()"> <i class="fa-solid fa-bars fa-2xl me-2" [class.active]="active"></i></span>
    <h1>zamparg</h1>
</nav>

<aside>
    <span (click)="goTo('quien-soy')" class="animate__animated animate__backInLeft icon icon1 " [ngClass]="{'active': active, 'hide':init}"><i class="fa-regular fa-user icon-menu "></i></span>
    <span (click)="goTo('servicios')" class="animate__animated animate__backInLeft icon icon2 " [ngClass]="{'active': active, 'hide':init}"><i class="fa-solid fa-screwdriver-wrench icon-menu "></i></span>
    <span (click)="goTo('trabajos')" class="animate__animated animate__backInLeft icon icon3 " [ngClass]="{'active': active, 'hide':init}"><i class="fa-solid fa-briefcase icon-menu "></i></span>
    <span (click)="goTo('contact')" class="animate__animated animate__backInLeft icon icon4 " [ngClass]="{'active': active, 'hide':init}"><i class="fa-solid fa-paper-plane icon-menu "></i></span>
</aside>