span{
    cursor: pointer;
}
span:hover i{
    color: var(--yellow-active)
}

.active{
    color: var(--yellow-active)
}

aside{
    position: absolute;
    top: 4rem;
    left: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    --animate-delay:0s;
    
}

.icon-menu{
    font-size: 2em;
    color: var(--yellow-active);
    --animate-duration: .6s;
}
.icon-menu:hover{
    color: white
}

.icon1{

    animation-delay: 0s !important;
}
.icon2{
    animation-delay: .15s !important;
}
.icon3{
    animation-delay: .30s !important;
}
.icon4{
    animation-delay: .45s !important;
}


@media (max-width: 450px){}

.icon:not(.active) {
    animation-name: backOutLeft;
  }