<section class="section-full figure d-flex flex-column justify-content-center align-items-center gap-2">
    <figure class="figure d-flex flex-column justify-content-center align-items-center m-0">
        <img src="https://res.cloudinary.com/zamparg/image/upload/v1688047392/AVATAR_gysd7g.png" alt="" class="figure-img img-fluid animate__animated animate__bounce ">
        <h2 class="">zamparg</h2>

    </figure>
    <div><p>Web Developer</p></div>
    <div class="d-flex gap-2 icon-container mt-2">
        <i class="fa-brands fa-github fa-lg icon"></i>
        <i class="fa-brands fa-linkedin fa-lg icon"></i>
        <i class="fa-brands fa-whatsapp fa-lg icon"></i>
    </div>
    <button class="btn mt-2">Hablame!</button>
    <!-- <i class="fa-solid fa-arrow-down fa-lg icon p-5 animate__animated animate__bounce animate__delay-2s animate__slower arrow"></i> -->
</section>