<section class="section-full figure d-flex flex-column justify-content-center align-items-center gap-2
">
    <figure class="figure d-flex flex-column justify-content-center align-items-center m-0">
        <img src="https://img.freepik.com/vector-gratis/cute-robot-holding-phone-laptop-cartoon-vector-icon-ilustracion-ciencia-tecnologia-aislada_138676-4870.jpg?w=740&t=st=1687794433~exp=1687795033~hmac=dcc761726e4c77c959a26e9bc71a8c5127dab9a71179fc62f3a31008cc0ec00e" alt="" class="figure-img img-fluid animate__animated animate__bounce ">
        <h2 class="">zamparg</h2>

    </figure>
    <div><p>Web Developer</p></div>
    <div class="d-flex gap-2 icon">
        <i class="fa-brands fa-github fa-lg"></i>
        <i class="fa-brands fa-linkedin fa-lg"></i>
        <i class="fa-brands fa-whatsapp fa-lg"></i>
    </div>
    <button class="btn btn-warning">Contactame!</button>
    <!-- <i class="fa-solid fa-arrow-down fa-lg icon p-5 animate__animated animate__bounce animate__delay-2s animate__slower arrow"></i> -->
</section>