<section class="d-flex flex-column flex-md-row w-100 ">
    <div class="w-100 w-md-50 flex-grow d-flex justify-content-center">
        <img src="assets/imgs/profile.jpeg" alt="profile photo" class="profile-photo">
    </div>
    <div class="w-100 w-md-50 flex-grow d-flex flex-column align-items-center justify-content-center content-presentation">
        <h1 class="title">Gastón Zampar</h1>
        <h2>Web Developer</h2>
        <div class="d-flex gap-4 icon-container mt-2">
            <a href="https://github.com/zamparg/" target="_blank"><i class="fa-brands fa-github fa-lg icon"></i></a>
            <a href="https://www.linkedin.com/in/zamparg/" target="_blank"><i
                    class="fa-brands fa-linkedin fa-lg icon"></i></a>
            <a href="https://api.whatsapp.com/send?phone=541167433113" target="_blank"><i
                    class="fa-brands fa-whatsapp fa-lg icon"></i></a>
        </div>
        <a class="btn mt-2 button" target="_blank" href="https://api.whatsapp.com/send?phone=541167433113">Hablame!</a>
    </div>
</section>