<section class="container-fluid section-full d-flex flex-column justify-content-center gap-2">
    <h2>Servicios</h2>
    <div class="row mt-5 mb-5">
        <div class="col">
            <h3>Servicio1</h3>
        </div>
        <div class="col">
            <h3>Servicio2</h3>
        </div>
        <div class="col">
            <h3>Servicio3</h3>
        </div>
    </div>
    <p>Soy curioso, autodidacta y comprometido al 100%. Mi objetivo es crecer profesionalmente en un entorno colaborativo, donde pueda trabajar en equipo para desarrollar soluciones innovadoras.</p>
    <p>Con una base sólida en JS y una mentalidad orientada a la lógica y resolución de problemas, busco aplicar mis habilidades técnicas en proyectos desafiantes.</p>
</section>

