<section class="container-fluid section-full d-flex flex-column justify-content-center gap-2">
    <h2>Servicios</h2>
    <p>Soy curioso, autodidacta y comprometido al 100%. Mi objetivo es crecer profesionalmente en un entorno
        colaborativo, donde pueda trabajar en equipo para desarrollar soluciones innovadoras.</p>
    <p>Con una base sólida en JS y una mentalidad orientada a la lógica y resolución de problemas, busco aplicar mis
        habilidades técnicas en proyectos desafiantes.</p>
    <div class="row mt-5 mb-4">
        <div class="col-md-4">
            <div class="card card1">
                <i class="fa-solid fa-dice-d6 fa-2xl card-img" ></i>
                <div class="card-body">
                    <h3 class="card-title text-center">Web Development</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, vero?</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card2">
                <i class="fa-solid fa-dice-d20 fa-2xl card-img"></i>
                <div class="card-body">
                    <h3 class="card-title text-center">WebApps</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, vero?</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card3">
                <i class="fa-solid fa-hat-wizard fa-2xl card-img"></i>
                <div class="card-body">
                    <h3 class="card-title text-center">Ilustración</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, vero?</p>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center">¿Necesitas un trabajo personalizado? ¡<span (click)=" storeSectionElement()">Click aquí</span> para contactarme!</p>
</section>