<section class="container-fluid section-full d-flex flex-column justify-content-center gap-2">
    <h2>Servicios</h2>
    <p> Como <b>Web Developer</b> soy responsable de planear, diseñar, implementar, y mantener sitios y aplicaciones web
        funcionales.
    </p>
    <p>Mi metodología de trabajo se centra en crear soluciones a medida que satisfagan plenamente las necesidades del cliente, teniendo siempre presente al usuario final.</p>
    <p><em>Cada proyecto es único</em>. Se inicia cada proyecto escuchando las necesidades del cliente, comprendiendo sus objetivos y requisitos específicos. Y se apunta a que cada sitio web sea intuitivo, accesible y altamente funcional. 
        <!-- Nos aseguramos de que la
        navegación sea fluida y que la información esté organizada de manera lógica, para que los usuarios encuentren
        fácilmente lo que buscan. También implementamos técnicas de diseño totalmente adaptable, asegurando que los
        sitios se vean y funcionen de manera excelente en diferentes dispositivos y tamaños de pantalla.</p>
    <p> Estamos comprometidos en crear soluciones web únicas que cumplan con los objetivos de nuestros clientes y
        brinden una experiencia positiva a los usuarios. -->
    </p>

    <div class="row mt-5 mb-4">
        <div class="col-md-4">
            <div class="card card1">
                <i class="fa-solid fa-dice-d6 fa-2xl card-img"></i>
                <div class="card-body">
                    <h3 class="card-title text-center">Web Development</h3>
                    <p class="card-text">Desarrollo integral de Sitios Web funcionales con foco en UX/UI.</p>
                    <p class="text-center"><em>¿De qué se trata?</em> </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card2">
                <i class="fa-solid fa-dice-d20 fa-2xl card-img"></i>
                <div class="card-body">
                    <h3 class="card-title text-center">WebApps</h3>
                    <p class="card-text">Desarrollo de funciones personalizadas optmizadas para diversas plataformas.
                    </p>
                    <p class="text-center"><em>¿Qué funciones tiene?</em> </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card3">
                <i class="fa-solid fa-hat-wizard fa-2xl card-img"></i>
                <div class="card-body">
                    <h3 class="card-title text-center">Diseño</h3>
                    <p class="card-text">Imaginación, creatividad y visión. El orden implicado de las cosas.</p>
                    <p class="text-center"><em>¿Cómo se ve?</em> </p>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center">¿Necesitas un trabajo personalizado? ¡<span (click)=" storeSectionElement()">Click
            aquí</span> para contactarme!</p>
</section>