.contenedor{
    max-width: 900px;
}

.contedorGral{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.btn-back{
    padding: 1rem;
    background-color: var(--background);
    border: var(--yellow-active) 2px solid;
    border-radius: 100%;
    display: inline-block;
    height: 4em;
    width: 4em;
    bottom: 20px;
    right: 10px;
    position: fixed;
    
    /*
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease; */
    box-shadow: black 8px 8px 10px;
}

 .btn-back:hover {
     transition: background-color .5s; 
    background-color: var(--yellow-active);
    border: var(--background) 2px solid;
 }

 .btn-back:hover i{

    color:var(--background) ;}

.btn-back.active {
    display:inline-block;
  } 

.btn-back:not(.active) {
      animation-name: fadeOut;
      opacity: 0;
      visibility: hidden;
      transition: opacity .25s ease, visibility .5s;
}