
    <div class="d-flex justify-content-center align-items-center py-5 px-4 w-100 flex-grow-1">
        <div class="contenedor">
            <app-header *ngIf="page==null"  [@slideInOut]></app-header>
            <app-quiensoy *ngIf="page==1"  [@slideInOut]></app-quiensoy>
            <app-descripcion *ngIf="page==2"  [@slideInOut]></app-descripcion>
            <app-trabajos *ngIf="page==3"  [@slideInOut]></app-trabajos>
            <app-footer *ngIf="page==4"  [@slideInOut]></app-footer>
        </div>
    </div>



<app-sidebar></app-sidebar>