<section class="section-full figure justify-content-center align-items-center gap-2">
    <h2>Quien Soy</h2>
    <div class="row mt-5 mb-4">
        <div class="col-md-3">
            <figure class="figure m-0">
                <img src="https://res.cloudinary.com/zamparg/image/upload/v1688049724/AVATAR2_jako0d.png" alt=""
                    class="figure-img img-fluid">
            </figure>
        </div>
        <div class="col about-container row">
            <div class="about-info col-md-6">
                <p>Soy curioso, autodidacta y comprometido al 100%. Mi objetivo es crecer profesionalmente en un entorno
                    colaborativo, donde pueda trabajar en equipo para desarrollar soluciones innovadoras.</p>
                <a href="../../../assets/CV Gaston Zampar.pdf" download="CV-Zamparg" class="btn">Descargar CV</a>
            </div>
            <div class="about-stats col-md-6 gap-2">
                <h4>FrontEnd</h4>
                <div class="progress mb-2">
                    <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar-front" role="progressbar"
                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                </div>
                <h4>Backend</h4>
                <div class="progress mb-2">
                    <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar-back" role="progressbar"
                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                </div>
                <h4>Diseño</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar-ilustracion" role="progressbar"
                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <ul>
            <li (click)="changeSkill('front')"><h5>FrontEnd</h5></li>
            <li (click)="changeSkill('back')"><h5>BackEnd</h5></li>
            <li (click)="changeSkill('dis')"><h5>Diseño</h5></li>
        </ul>
    </div>
    <div *ngIf="skill=='front'" class="row">
        <div class="col-2"> HOLA</div>
        <div class="col-2"> HOLA</div>
        <div class="col-2"> HOLA</div>
        <div class="col-2"> HOLA</div>
        <div class="col-2"> HOLA</div>
        <div class="col-2"> HOLA</div>
    </div>

</section>