<section class="container-fluid figure justify-content-center align-items-center gap-2" id="quien-soy">
    
    <div class="row mt-5 mb-5 gap-4">
        
        <div class="col about-container row">

                
                <h1 class="text-center title">Sobre Mí</h1>
                <h2 class="text-center">Gastón Zampar</h2>

                <div class="d-flex gap-4 icon-container mt-2 justify-content-center ">
                    <a href="https://github.com/zamparg/" target="_blank"><i class="fa-brands fa-github fa-lg icon"></i></a>
                    <a href="https://www.linkedin.com/in/zamparg/" target="_blank"><i
                            class="fa-brands fa-linkedin fa-lg icon"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=541167433113" target="_blank"><i
                            class="fa-brands fa-whatsapp fa-lg icon"></i></a>
                    <a href="mailto:zamparg@hotmail.com"><i
                        class="fa-regular fa-envelope fa-lg icon"></i></a>
                </div>
                <span class="text-start mb-2">
                    Soy desarrollador web front-end especializado en Angular y enfocado en la lógica de programación. 
                    Mi objetivo es crear aplicaciones web eficientes y funcionales que brinden una experiencia de usuario excepcional.
                </span>
                <div class="text-center mt-2 ">

                    <a  href="../../../assets/CV Gaston Zampar.pdf" download="CV-Zamparg" class="btn mb-2">Descargar CV</a>
                </div>
                        
            </div>
            
        </div>

    <div class="p-2">
        <div class="mt-4">
            <ul>
                <li (click)="changeSkill('front', $event)" [class.active]="skill==='front'"><h5>FrontEnd</h5></li>
                <li (click)="changeSkill('back', $event)" [class.active]="skill==='back'"><h5>BackEnd</h5></li>
                <li (click)="changeSkill('dis', $event)" [class.active]="skill==='dis'"><h5>Diseño</h5></li>
            </ul>
        </div>
        <div class="skillContainer mt-4 mb-4 " *ngIf="data">
            <div *ngIf="skill=='front'" class="row g-2 gy-2 mt-3 animate__animated animate__fadeIn justify-content-around">
                <div *ngFor="let skill of data.frontend" class="col-2 col-md-1 d-flex flex-column justify-content-between text-center align-items-center "> 
                    
                    <circle-progress
                    [percent]="skill.percent"
                    [radius]="100"
                    [outerStrokeWidth]="10"
                    [space]="-10"
                    [innerStrokeWidth]="10"
                    [outerStrokeColor]="'#ffa600'"
                    [outerStrokeGradient]="true"
                    [outerStrokeGradientStopColor]="'#ffa600'"
                    [responsive]="true"
                    [animation]="true"
                    [animationDuration]="750"
                    [showInnerStroke]="true"
                    [innerStrokeColor]="'#080808'"
                    [showImage]="true"
                    [imageSrc]="skill.img"
                    [imageHeight]="105"
                    [imageWidth]="105"
                    ></circle-progress>

                        <small class="mt-2">{{skill.tittle}}</small>
                </div>
            </div>
            <div *ngIf="skill=='back'" class="row g-2 gy-2 mt-3 animate__animated animate__fadeIn justify-content-around">
                <div *ngFor="let skill of data.backend" class="col-2 col-md-1 d-flex flex-column justify-content-between text-center align-items-center "> 
                    <circle-progress
                    [percent]="skill.percent"
                    [radius]="100"
                    [outerStrokeWidth]="10"
                    [space]="-10"
                    [innerStrokeWidth]="10"
                    [outerStrokeColor]="'#ffa600'"
                    [outerStrokeGradient]="true"
                    [outerStrokeGradientStopColor]="'#ffa600'"
                    [responsive]="true"
                    [animation]="true"
                    [animationDuration]="750"
                    [showInnerStroke]="true"
                    [innerStrokeColor]="'#080808'"
                    [showImage]="true"
                    [imageSrc]="skill.img"
                    [imageHeight]="105"
                    [imageWidth]="105"
                    ></circle-progress>

                        <small class="mt-2">{{skill.tittle}}</small>
                </div>
            </div>
            <div *ngIf="skill=='dis'" class="row g-2 gy-2 mt-3 animate__animated animate__fadeIn justify-content-around">
                <div *ngFor="let skill of data.dis" class="col-2 col-md-1 d-flex flex-column justify-content-between text-center align-items-center ">
                    <circle-progress
                    [percent]="skill.percent"
                    [radius]="100"
                    [outerStrokeWidth]="10"
                    [space]="-10"
                    [innerStrokeWidth]="10"
                    [outerStrokeColor]="'#ffa600'"
                    [outerStrokeGradient]="true"
                    [outerStrokeGradientStopColor]="'#ffa600'"
                    [responsive]="true"
                    [animation]="true"
                    [animationDuration]="750"
                    [showInnerStroke]="true"
                    [innerStrokeColor]="'#080808'"
                    [showImage]="true"
                    [imageSrc]="skill.img"
                    [imageHeight]="105"
                    [imageWidth]="105"
                    ></circle-progress>

                        <small class="mt-2">{{skill.tittle}}</small>
                </div>
            </div>
        </div>
    </div>
</section>


