:host{
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

span{
    cursor: pointer;
}

.desktop-nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    --animate-delay:0s;
}

.menu-button-container{
    cursor: pointer;
    border: transparent 2px solid;
    border-radius: 40px ;
    padding-left: 1rem;
    transition: all 0.4s;
    .text{
        transition: all 0.4s;
        opacity: 0;
    }
}

.menu-button-container:hover{
    background-color: black;
    border: var(--yellow) 2px solid;

    .text{
        opacity: 1;
    }
}

.icon.active{
    border: white 3px solid
}

.icon{
    background-color: var(--yellow);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: all 0.4s;

    .icon-menu{
        font-size: 1.75em;
        color: white;
        transition: all 0.4s;
        --animate-duration: .6s;
    }
}

.icon:hover{
    background-color:white;
    
    .icon-menu{
        color: var(--yellow);
    }
}


.icon1{
    animation-delay: 0s !important;
}
.icon2{
    animation-delay: .07s !important;
}
.icon3{
    animation-delay: .14s !important;
}
.icon4{
    animation-delay: .21s !important;
}
.icon5{
    animation-delay: .28s !important;
}

@media (max-width: 450px){}


.hide{
    display: none;
}

span{
    z-index: 10;
}

.mobile-nav{
    display:none;
}

@media (max-width:780px){
    .desktop-nav{
        display: none;
    }
    :host{
        position: sticky;
        overflow: hidden;
        top:auto;
        bottom:0;
        width: 100%;
        right: 0px;
        transform: translateY(0%);
        background-color: var(--background);
        padding: 0.5rem;
    }
    
    .mobile-nav{
        display:flex;
        justify-content: space-evenly;
        width: 100%;
    }
}