<aside class="desktop-nav">
    <div (click)="goTo(null)" class="d-flex align-items-center gap-2 menu-button-container justify-content-end">
        <span class="text ">HOME</span>
        <span  class="animate__animated animate__backInRight icon icon1 "
            [ngClass]="{'active': page==null }">
            <i class="fa-solid fa-home icon-menu "></i>
        </span>
    </div>

    <div (click)="goTo(1)"  class="d-flex align-items-center gap-2 menu-button-container justify-content-end">
        <span class="text ">SOBRE MI</span>
        <span class="animate__animated animate__backInRight icon icon2 "
            [ngClass]="{'active': page==1 }">
            <i class="fa-regular fa-user icon-menu "></i>
        </span>
    </div>

    <!-- <div (click)="goTo(2)" class="d-flex align-items-center gap-2 menu-button-container justify-content-end">
        <span class="text ">SERVICIOS</span>
        <span  class="animate__animated animate__backInRight icon icon3 "
            [ngClass]="{'active': page==2 }">
            <i class="fa-solid fa-screwdriver-wrench icon-menu "></i>
        </span>
    </div> -->

    <div (click)="goTo(3)" class="d-flex align-items-center gap-2 menu-button-container justify-content-end">
        <span class="text ">PORTFOLIO</span>
        <span class="animate__animated animate__backInRight icon icon4 "
            [ngClass]="{'active': page==3 }">
            <i class="fa-solid fa-briefcase icon-menu "></i>
        </span>
    </div>

    <div (click)="goTo(4)" class="d-flex align-items-center gap-2 menu-button-container justify-content-end">
        <span class="text ">CONTACTO</span>
        <span  class="animate__animated animate__backInRight icon icon5 "
            [ngClass]="{'active': page==4 }">
            <i class="fa-solid fa-paper-plane icon-menu "></i>
        </span>
    </div>
</aside>

<aside class="mobile-nav">

        <span (click)="goTo(null)" class="animate__animated animate__backInRight icon icon1 "
            [ngClass]="{'active': page==null }">
            <i class="fa-solid fa-home icon-menu "></i>
        </span>


        <span (click)="goTo(1)" class="animate__animated animate__backInRight icon icon2 "
            [ngClass]="{'active': page==1 }">
            <i class="fa-regular fa-user icon-menu "></i>
        </span>


        <!-- <span (click)="goTo(2)" class="animate__animated animate__backInRight icon icon3 "
            [ngClass]="{'active': page==2 }">
            <i class="fa-solid fa-screwdriver-wrench icon-menu "></i>
        </span> -->


        <span (click)="goTo(3)" class="animate__animated animate__backInRight icon icon4 "
            [ngClass]="{'active': page==3 }">
            <i class="fa-solid fa-briefcase icon-menu "></i>
        </span>

        <span (click)="goTo(4)" class="animate__animated animate__backInRight icon icon5 "
            [ngClass]="{'active': page==4 }">
            <i class="fa-solid fa-paper-plane icon-menu "></i>
        </span>
</aside>